doctype html
html
    head
        title= 'MAP'
        link(rel='SHORTCUT ICON' href='/images/droneicon.jpg')
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/map.css')
        script(type="text/javascript" src="/javascripts/jquery-3.3.1.js")
    body
        nav.navbar.navbar-expand-sm.navbar-light(role='navigation' style='background-color: #136299;')
            div.container-fluid
                ul.navbar-nav
                    li.nav-item= 'Drone Map'
                ul.nav.navbar-right
                    div
                        button.btn.btn-secondary
                            img(width='20' height='20' src=`${user.purl}`)
                            span= user.username
        div.container-fluid(style='top:1rem;bottom:0')
            div.row
                div.col-md-2
                    h1= 'Drone'
                    table
                        thead
                            tr
                                th= 'ID'
                                th= 'Speed'
                                th= 'Latitude'
                                th= 'Longitude'
                        tbody#drones

                div.col-md-8
                    h1= 'Map'
                    div#map(style='height:600px;width:1000px')
                    script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCdMi7zuQh2w-RZYBxwlcHzb05UtFPdkL0&callback=initMap')
                    script(src='/javascripts/init.js')
                div.col-md-2
                    h1= 'Weather'
                    div#weather
            div.row
                div.col-md-12
                    h1= 'Tasks'
                    table.tab-content#tasks
                        thead
                            tr
                                th= 'ID'
                                th= 'Speed'
                                th= 'Location'
                        tbody(style='height:120px')
                            tr
                                td= 12
                                td= 2
                                td= '(3,3)'
                            tr
                                td= 13
                                td= 2
                                td= '(3,3)'
                            tr
                                td= 14
                                td= 2
                                td= '(3,3)'
                            tr
                                td= 15
                                td= 2
                                td= '(3,3)'
                            tr
                                td= 16
                                td= 2
                                td= '(3,3)'
