doctype html
html
    head
        title= title
        link(rel='SHORTCUT ICON' href='/images/droneicon.jpg')
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/map.css')
        script(type="text/javascript" src="/javascripts/jquery-3.3.1.js")
        script(type="text/javascript" src="/javascripts/nav.js")
    body
        nav.navbar.navbar-expand-sm.navbar-light(role='navigation' style='background-color: #1a73e8;')
            div.container-fluid
                ul.navbar-nav
                    li.nav-item(style='color:white')= title
                ul.nav.navbar-right
                    div.dropdown
                        button.btn.btn-secondary.dpdmenu(data-toggle='dropdown' onclick='opt()')
                            img(width='20' height='20' src='/'+`${user.purl}`)
                            span= user.username
                        div.dropdown-menu.dropdown-menu-right#text(role='menu' style='display:none')
                            a.dropdown-item(href='/')= 'Main Page'
                            a.dropdown-item(href='/users')= 'Company Drones Map'
                            a.dropdown-item(href='/users/addTask')= 'Add Task'
                            a.dropdown-item(href='/logout')= 'Logout here'
        div.text-center(style='position:absolute;bottom:50%;left:40%')
            p= 'Submit Successful'
            a(href='/')= 'Main Page'